<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}" />
   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <title> {% block titulo %}{% endblock %}</title>
        {% block head %} 
        {% endblock %}
    </head>
    <body class="bg-light">
        
        <header class="text-center">
            <h3 class="display-4 font-weight-bold">{{ self.titulo() }}</h3>
            {% block pageheader %}
                <p class="font-italic text-muted mb-0">{% block subtitulo %}{% endblock %}</p>
                <p class="font-italic">{% block icone %}{% endblock %}</p>        
            {% endblock %}
        </header>
            
        <div class="container">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h4 class="border-bottom border-gray pb-2 mb-0">{{ self.subtitulo() }}</h4>
        
                {% block content %}
                {% endblock %}

                <div class="d-flex justify-content-end w-100  pb-0 mt-2">
                    <button type="button" id="cadastrar" class="btn btn-sm btn-warning custom-btn" >{% block item %} {% endblock %}</button>
                </div> 

                {% block content2 %}
                {% endblock %}
            </div>   
        </div>
    </body>

    {% block scripts %}
    {% endblock %}

</html>
