{% extends "base.html" %}
{% block titulo %}Jogos Olímpicos{% endblock %}
{% block subtitulo %}{{ modalidade.titulo }}{% endblock %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='style/competicoes.css') }}" />{% endblock %}
{% block pageheader %}
    {{ super() }}
    <a class="nav-a-custom" href="/"><h8><i class="fa fa-arrow-left nav-a-custom" aria-hidden="true"></i> Voltar</h8></a>
{% endblock %}
{% block containertitulo %}Competições{% endblock %}
{% block content %}
    {% for c in competicoes %}
        <div class="text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="text-gray-dark pb-2">{{ c.nome }}</h6>
                    <a class="btn btn-sm btn-dark d-block custom-btn {% if c.encerrada %}disabled{% endif %}" href="/{{ modalidade.id }}/{{ c.id }}">Cadastrar Resultados</a>
                </div>

                <div class="d-flex justify-content-between align-items-center w-100">
                    <span>{{ c.local }} - {{ c.data }}</span>
                    <a class="btn btn-sm btn-dark d-block custom-btn {% if not c.encerrada %}disabled{% endif %}" href="/{{ modalidade.id }}/{{ c.id }}">Ver Ranking</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if competicoes|length == 0 %}
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-center">
                <p>Não há competições cadastradas nessa modalidade.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block item %}<i class="fa fa-plus"></i> <span class="ml-1">Competicao</span>{% endblock %}

{% block scripts %}
    <script>
        $("#cadastrar").click(() => window.location.href = '/{{ modalidade.id }}/cadastro');
    </script>
{% endblock %}