<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Jogos Olímpicos</h1>
      <h4>
        <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ modalidade.titulo
        }}
      </h4>
    </div>

    <div class="container">
      {% for competicao in modalidade.competicoes %}
      <h1>{{ competicao.nome }}</h1>
      <p>{{ competicao.local }}</p>
      {% endfor %}
    </div>
  </body>
</html>
